.domenabled #finderparent
{
	border:1px solid #000;
	position:relative;
}
.domenabled #finder
{
	position:absolute;
	top:1em;
	left:1em;
}
.domenabled ul#finder,
.domenabled ul#finder li,
.domenabled ul#finder ul
{
	width:200px;
	list-style-type:none;
	margin:0;
	padding:0px;
}

.domenabled ul#finder li {
    overflow: hidden;
    text-wrap: avoid;
    white-space: nowrap;
}
.domenabled ul#finder ul.hidden
{
	top:0px;
	left:-2000px;
	position:absolute;
}
.domenabled ul#finder ul.shown
{
	top:0px;
	left:240px;
	position:absolute;
}
.domenabled #finder a.open
{
	background:url(http://www.alistapart.com/d/complexdynamiclists/arrowon.gif) no-repeat 90% 50% #eee;
	padding-right:16px;
	padding-left:0px;
	display:block;
}
.domenabled #finder a.parent
{
	background:url(http://www.alistapart.com/d/complexdynamiclists/arrow.gif) no-repeat #fff 100% 50%;
	padding-right:16px;
	padding-left:0px;
}
.domenabled ul#finder li a
{
	color:#000;
	background:url(http://www.alistapart.com/d/complexdynamiclists/normal.gif) no-repeat #fff 0 50% ;
	padding-left:16px;
	text-decoration:none;
}
